@use '../../_styles/screen';
@use '../../_styles/enterAnimations';

.wrapper {
  margin-top: -6.0416666667vw;
  height: 59.1145833333vw;

  position: relative;

  @include screen.mobile {
    margin-top: -6.0526315789vw;
    height: 196.7105263158vw;
  }

  .bg {
    width: 100%;
    height: 100%;
    background: url(../../_images/pc/world/bg.png) no-repeat center top / cover;

    position: absolute;
    top: 0;
    left: 0;

    @include screen.mobile {
      background-image: url(../../_images/m/world/bg.png);
    }
  }

  .movie {
    width: 46.1458333333vw;
    height: 26.0416666667vw;
    transform: rotate(-2.71deg);

    position: absolute;
    left: 43.0208333333vw;
    top: 19.375vw;

    @include screen.mobile {
      width: 88.4210526316vw;
      height: 50vw;

      left: 0vw;
      top: 115.7894736842vw;

      transform: rotate(-2.42deg);
    }
  }

  .neon {
    width: 20.46875vw;
    height: 27.5520833333vw;
    background: url(../../_images/pc/world/neon.png) no-repeat right top / cover;

    position: absolute;
    right: -5.5208333333vw;
    top: 2.6041666667vw;

    @include screen.mobile {
      width: 25.5263157895vw;
      height: 79.8684210526vw;
      background-image: url(../../_images/m/world/neon.png);

      z-index: 2;
      right: 0;
      top: 4.2105263158vw;
    }

    .item {
      width: 3.75vw;
      height: 3.75vw;

      position: absolute;

      @include screen.mobile {
        width: 6.8421052632vw;
        height: 6.8421052632vw;
      }

      @keyframes flash {
        /* prettier-ignore */
        0%, 10%, 20%, 35%, 60%, 80%, 95%, 100% {
          opacity: 0;
        }

        /* prettier-ignore */
        8%, 18%, 34%, 55%, 75%, 79%, 95% {
          opacity: 1;
        }
      }

      @keyframes elect {
        /* prettier-ignore */
        0%, 30%, 35%, 40%, 43%, 100% {
          opacity: 1;
        }

        /* prettier-ignore */
        31%, 34%, 41%, 42% {
          opacity: 0;
        }
      }

      &.item1 {
        background: url(../../_images/pc/world/neon-on-1.png) no-repeat center / cover;

        left: 8.9583333333vw;
        top: 10.4166666667vw;

        animation: flash 9s 10ms infinite linear;

        @include screen.mobile {
          left: 17.3684210526vw;
          top: 20.1315789474vw;
        }
      }

      &.item2 {
        background: url(../../_images/pc/world/neon-on-2.png) no-repeat center / cover;

        width: 4.0625vw;
        height: 4.0625vw;

        left: 10.625vw;
        top: 8.8541666667vw;

        animation: elect 4s 50ms infinite linear;

        @include screen.mobile {
          width: 8.1578947368vw;
          height: 8.1578947368vw;

          left: 13.0263157895vw;
          top: 21.8421052632vw;
        }
      }

      &.item3 {
        background: url(../../_images/pc/world/neon-on-3.png) no-repeat center / cover;

        left: 12.8125vw;
        top: 7.5520833333vw;

        animation: flash 6s 100ms infinite linear;

        @include screen.mobile {
          left: 20.9210526316vw;
          top: 17.7631578947vw;
        }
      }
    }
  }

  .title {
    width: 48.2986111111vw;
    height: 19.1319444444vw;
    background: url(../../_images/pc/world/title.png) no-repeat center top / cover;

    position: absolute;
    left: 10.2604166667vw;
    top: 2.65625vw;

    overflow: hidden;
    text-indent: -9999%;

    @include enterAnimations.upScaleFadeOutBack('.visible');

    @include screen.mobile {
      width: 99.6052631579vw;
      height: 42.6315789474vw;
      background-image: url(../../_images/m/world/title.png);

      left: unset;
      right: 0;
      top: 36.1842105263vw;
    }
  }

  .subTitle {
    width: 39.0972222222vw;
    height: 12.6736111111vw;
    background: url(../../_images/pc/world/subtitle.png) no-repeat center top / cover;

    position: absolute;
    left: 51.3020833333vw;
    top: 8.6458333333vw;

    overflow: hidden;
    text-indent: -9999%;

    @include enterAnimations.downScaleFade('.visible');

    @include screen.mobile {
      width: 74.6052631579vw;
      height: 30vw;
      background-image: url(../../_images/m/world/subtitle.png);

      left: 3.9473684211vw;
      top: 12.5vw;
    }
  }

  .text {
    position: absolute;
    left: 18.3854166667vw;
    top: 27.2916666667vw;
    font-size: 1.25vw;
    line-height: 1.66;
    color: #fff;
    font-weight: 900;

    @include enterAnimations.upFade('.visible');

    @include screen.mobile {
      width: 72.3684210526vw;

      left: 17.3684210526vw;
      top: 80.1315789474vw;

      font-size: 3.9473684211vw;
      line-height: 1.53;
    }
  }
}
