@use '../../../_styles/screen';

.wrapper {
  margin-top: 0.520833333333vw;
  display: flex;
  position: relative;

  @include screen.mobile {
    width: 100%;
  }

  .indexBtnContainer {
    display: flex;
    align-items: center;

    @include screen.mobile {
      display: none;
    }

    .indexBtn {
      margin: 0 0.5208333333vw;
      width: 1.6666666667vw;
      height: 1.875vw;
      background: url(../../../_images/pc/movie/nav/icon-bullet.png) no-repeat center / cover;

      border: none;
      overflow: hidden;
      text-indent: 9999%;

      &.current {
        background: url(../../../_images/pc/movie/nav/icon-bullet-active.png) no-repeat center / cover;
      }
    }
  }

  .arrowBtn {
    z-index: 10;
    width: 3.2291666667vw;
    height: 3.4895833333vw;
    border: none;
    background-color: transparent;
    cursor: pointer;

    overflow: hidden;
    text-indent: 9999%;

    @include screen.mobile {
      width: 9.8684210526vw;
      height: 10.3947368421vw;
      position: absolute;
    }

    &.prev {
      margin-right: 2.34375vw;
      animation: movie-nav-arrowBtn-prev 1.25s infinite ease-out;
      background: url(../../../_images/pc/movie/nav/btn-prev.png) no-repeat center / cover;

      @include screen.mobile {
        left: 6.5789473684vw;
        bottom: 23vw;
      }
    }

    &.next {
      margin-left: 2.34375vw;
      animation: movie-nav-arrowBtn-next 1.25s infinite ease-out;
      background: url(../../../_images/pc/movie/nav/btn-next.png) no-repeat center / cover;

      @include screen.mobile {
        right: 6.5789473684vw;
        bottom: 23vw;
      }
    }

    @keyframes movie-nav-arrowBtn-prev {
      0% {
        transform: translateX(0) scale(1);
      }

      30% {
        transform: translateX(-7px) scale(0.95, 1.05);
      }

      45% {
        transform: translateX(-7px) scale(1.025, 0.975);
      }

      90% {
        transform: translateX(0) scale(1);
      }

      100% {
        transform: translateX(0) scale(1);
      }
    }

    @keyframes movie-nav-arrowBtn-next {
      0% {
        transform: translateX(0) scale(1);
      }

      30% {
        transform: translateX(7px) scale(0.95, 1.05);
      }

      45% {
        transform: translateX(7px) scale(1.025, 0.975);
      }

      90% {
        transform: translateX(0) scale(1);
      }

      100% {
        transform: translateX(0) scale(1);
      }
    }
  }
}
