@use '../../../_styles/enterAnimations';
@use '../../../_styles/screen';

.wrapper {
  padding: 1.25vw 0 1.25vw;
  width: 66.71875vw;
  background:
    url(../../../_images/pc/news/bg-news2-top.png) no-repeat center top / 100% auto,
    url(../../../_images/pc/news/bg-news2-bottom.png) no-repeat center bottom / 100% auto;

  @include enterAnimations.upScaleFadeOutBack('.visible');

  @include screen.mobile {
    padding: 3.6842105263vw 0 3.9473684211vw;
    width: 89.4736842105vw;
    background-image: url(../../../_images/m/news/bg-news2-top.png), url(../../../_images/m/news/bg-news2-bottom.png);
  }

  .body {
    padding: 0.5729166667vw 1.6145833333vw 0.5729166667vw 5.1041666667vw;
    background: url(../../../_images/pc/news/bg-news2-body.png) repeat-y center top / 100% auto;

    @include screen.mobile {
      padding: 0.2631578947vw 1.3157894737vw 0 5.2631578947vw;
      background-image: url(../../../_images/m/news/bg-news2-body.png);
    }

    .bulletinList {
      height: 9.375vw;
      padding-right: 2.96875vw;
      overflow-y: auto;

      display: flex;
      flex-direction: column;
      gap: 0.625vw;

      @include screen.mobile {
        height: 41.0526315789vw;
        padding-right: 3.9473684211vw;
        gap: 1.5789473684vw;
      }

      .bulletinItem {
        display: flex;
        font-size: 0.9375vw;

        .date {
          padding-top: 0.2083333333vw;
          width: 7.96875vw;

          @include screen.mobile {
            padding-top: 1.1842105263vw;
            width: 20.1315789474vw;
          }
        }

        > a {
          color: #fff;
          font-size: 0.9375vw;
          font-weight: 900;
          line-height: 1.6;
          letter-spacing: -0.025em;

          // word-spacing: 20px;
          flex: 1;

          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }

          @include screen.mobile {
            font-size: 3.1578947368vw;
          }
        }
      }
    }
  }
}
