@use '../../../../_styles/screen';
@use 'sass:map';

.wrapper {
  .number {
    display: inline-block;
    height: 0.9895833333vw;
    margin-left: 0.0520833333vw;

    overflow: hidden;
    text-indent: 100%;

    background: no-repeat center / cover;

    @include screen.mobile {
      height: 2.5vw;
      margin-left: 0.1315789474vw;
    }

    @mixin number($num, $size) {
      $pc: (
        'x-small': 0.2604166667vw,
        'small': 0.5208333333vw,
        'medium': 0.78125vw,
        'large': 0.8333333333vw,
        'x-large': 0.8854166667vw,
      );

      $m: (
        'x-small': 0.6578947368vw,
        'small': 1.3157894737vw,
        'medium': 1.9736842105vw,
        'large': 2.1052631579vw,
        'x-large': 2.2368421053vw,
      );

      width: map.get($pc, $size);
      background-image: url(../../../../_images/numbers/#{$num}.png);

      @include screen.mobile {
        width: map.get($m, $size);
      }
    }

    &.num0 {
      @include number(0, 'large');
    }
    &.num1 {
      @include number(1, 'small');
    }
    &.num2 {
      @include number(2, 'medium');
    }
    &.num3 {
      @include number(3, 'medium');
    }
    &.num4 {
      @include number(4, 'medium');
    }
    &.num5 {
      @include number(5, 'medium');
    }
    &.num6 {
      @include number(6, 'x-large');
    }
    &.num7 {
      @include number(7, 'medium');
    }
    &.num8 {
      @include number(8, 'medium');
    }
    &.num9 {
      @include number(9, 'x-large');
    }
    &.dot {
      @include number('dot', 'x-small');
    }
  }
}
