@use '../../_styles/screen';

.wrapper {
  padding-top: 9.21875vw;
  width: 100%;
  height: 35.2083333333vw;

  clip-path: polygon(0% 0%, 100% 15.8%, 100% 100%, 0% 100%);

  position: relative;
  z-index: 0;

  @include screen.mobile {
    padding-top: 30.3947368421vw;
    height: 111.8421052632vw;

    clip-path: polygon(0% 0%, 100% 12%, 100% 100%, 0% 100%);
  }

  .bg {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    &::after {
      /* 어둡게 처리하는 용도 */
      content: '';
      display: block;
      width: 100%;
      height: 100%;

      background-color: rgba(0, 0, 0, 0.7);

      position: absolute;
      left: 0;
      top: 0;
    }

    .bgMovie {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .title {
    width: 35.1041666667vw;
    height: 8.9236111111vw;
    background: url(../../_images/pc/movie/title.png) no-repeat center / cover;

    position: absolute;
    z-index: 1;
    left: 12.03125vw;
    top: 2.34375vw;

    overflow: hidden;
    text-indent: -9999%;

    > img {
      width: 100%;
      height: 100%;
    }

    @include screen.mobile {
      width: 78.4210526316vw;
      height: 20.5263157895vw;
      left: 2.6315789474vw;
      top: 8.0263157895vw;
    }
  }
}
