.wrapper {
  --itemWidth: calc(100vw / 4);
  position: relative;
  z-index: 2;
  width: 100%;

  overflow: hidden;

  > ul {
    --half: calc(100vw / 2 - (var(--itemWidth) / 2));
    transform: translate3d(var(--half), 0px, 0px);
    transition: transform 0.3s;
    display: flex;
  }

  > .movieBottom {
    display: flex;
    justify-content: center;
  }
}
