@use '../../../styles/colors';

.wrapper {
  width: fit-content;
  padding: 4px 8px;
  background-color: colors.$bg-btn-in-card;
  border-radius: 5px;

  display: flex;
  align-items: center;
  gap: 8px;

  color: colors.$font-sub;
  font-size: 14px;

  > img {
    width: 18px;
    height: 18px;
  }
}
