.wrapper {
  margin-top: -8.0729166667vw;
  height: 67.7604166667vw;
  background: url(../../_images/bg_battle_2.png) no-repeat center top / cover;

  position: relative;
  z-index: 1;

  .twoFormsImg {
    width: 60.2083333333vw;
    height: 23.9583333333vw;
    background: url(../../_images/battle/two-forms.png) no-repeat center / cover;

    position: absolute;
    z-index: 1;
    left: 5.46875vw;
    top: -16.5625vw;

    transition:
      opacity 0.3s,
      transform 0.3s;
    opacity: 0;
    transform: translate(0px, 15px);

    &.visible {
      opacity: 1;
      transform: translate(0px, 0px);
    }
  }

  .title {
    width: 60.1388888889vw;
    height: 19.0625vw;
    background: url(../../_images/battle/title-area-battle.png) no-repeat center / cover;

    position: absolute;
    z-index: 2;
    left: 18.4895833333vw;
    top: 0;

    overflow: hidden;
    text-indent: -9999%;

    transition:
      opacity 0.3s,
      transform 0.3s;
    opacity: 0;
    opacity: 0;
    transform: scale(1.3, 1.3);

    &.visible {
      opacity: 1;
      transform: translate(0px, 0px);
    }
  }

  .text {
    padding: 5.2083333333vw 0 0 4.6875vw;
    width: 42.65625vw;
    height: 17.2916666667vw;
    background: url(../../_images/battle/bg_text.png) no-repeat center top / cover;

    position: absolute;
    z-index: 1;
    left: 28.8020833333vw;
    top: 12.03125vw;

    color: #fefefe;
    font-size: 1.25vw;
    font-weight: 900;
    line-height: 1.66;

    transition:
      opacity 0.3s,
      transform 0.3s;
    opacity: 0;
    transform: translate(0px, 15px);

    &.visible {
      opacity: 1;
      transform: translate(0px, 0px);
    }
  }

  .areaBattleMovie {
    width: 51.3541666667vw;
    height: 29.5833333333vw;

    position: absolute;
    z-index: 1;
    left: 24.21875vw;
    top: 26.0416666667vw;

    transition:
      opacity 0.3s,
      transform 0.3s;
    opacity: 0;
    transform: translate(0px, 15px) rotate(3.33019deg);

    &.visible {
      opacity: 1;
      transform: rotate(3.33019deg);
    }

    .frame {
      width: 100%;
      height: auto;

      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
    }

    .movie {
      width: 50.5208333333vw;
      height: 28.6458333333vw;
      background-color: #fff;

      position: absolute;
      z-index: 0;
      left: 0.4166666667vw;
      top: 0.4166666667vw;
    }
  }

  .inkStain {
    position: absolute;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    transition:
      opacity 0.3s cubic-bezier(0.15, 1.06, 0.8, 1.2),
      transform 0.3s cubic-bezier(0.15, 1.06, 0.8, 1.2);

    opacity: 0;
    transform: scale(1.15, 1.15);

    &.visible {
      opacity: 1;
      transform: translate(0px, 0px);
    }

    &.stain1 {
      width: 9.1319444444vw;
      height: 10.5208333333vw;
      background-image: url(../../_images/ink-stains/ink-stain-1.png);

      z-index: 3;
      left: 2.0833333333vw;
      top: 2.4479166667vw;
    }

    &.stain2 {
      width: 18.5763888889vw;
      height: 18.6458333333vw;
      background-image: url(../../_images/ink-stains/ink-stain-2.png);

      z-index: 3;
      left: 12.7604166667vw;
      top: 8.2291666667vw;
    }
    &.stain3 {
      width: 39.0277777778vw;
      height: 30vw;
      background-image: url(../../_images/ink-stains/ink-stain-3.png);

      left: 58.6979166667vw;
      top: 14.6875vw;
    }
    &.stain4 {
      width: 9.1319444444vw;
      height: 10.4861111111vw;
      background-image: url(../../_images/ink-stains/ink-stain-4.png);

      left: 82.5520833333vw;
      top: 30.6770833333vw;
    }
    &.stain5 {
      width: 27.7777777778vw;
      height: 27.3611111111vw;
      background-image: url(../../_images/ink-stains/ink-stain-5.png);

      left: 60.0520833333vw;
      top: 42.1354166667vw;
    }
    &.stain6 {
      width: 22.1180555556vw;
      height: 20.1388888889vw;
      background-image: url(../../_images/ink-stains/ink-stain-6.png);

      left: 82.9166666667vw;
      top: 53.90625vw;
    }
  }
}
