@use '../../_styles/enterAnimations';
@use '../../_styles/screen';

@function calcPxToVW($valueOfPX) {
  @return calc($valueOfPX / 1920 * 100vw);
}

.wrapper {
  margin-top: -13.75vw;
  padding-top: 13.75vw;
  padding-bottom: 9.1145833333vw;
  background: url(../../_images/pc/news/bg.png) repeat-y center top;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include screen.mobile {
    margin-top: -19.3421052632vw;
    padding-top: 34.2105263158vw;
    padding-bottom: 20.2631578947vw;

    background-image: url(../../_images/m/news/bg.png);
  }

  .bannersWrapper {
    margin-top: 2.0833333333vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include screen.mobile {
      margin-top: 2.6315789474vw;
    }

    .banner {
      display: block;
      width: 66.6666666667vw;
      height: 9.375vw;

      overflow: hidden;

      @include screen.mobile {
        width: 89.4736842105vw;
        height: 23.6842105263vw;
      }

      @include enterAnimations.upScaleFadeOutBack('.visible') {
        transition: transform 250ms cubic-bezier(0.34, 1.3, 0.64, 1);
        &:hover {
          transform: scale(1.05);
        }
      }

      > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }

    .bannersHead {
      .forBeginner {
        width: 67.8472222222vw;
        height: 10.9375vw;
        background: url(../../_images/pc/news/banners/banner-for-beginner.png) no-repeat center top / cover;

        @include screen.mobile {
          width: 94.8684210526vw;
          height: 39.978426758vw;
          background-image: url(../../_images/m/news/banners/banner-for-beginner.png);
        }
      }
    }

    .bannersBody {
      margin-top: 1.4583333333vw;
      display: flex;
      flex-direction: column;
      gap: 1.4583333333vw;

      @include screen.mobile {
        margin-top: 5.2631578947vw;
        gap: 5.2631578947vw;
      }
    }

    .bannersFoot {
      width: 100%;
      margin-top: 1.875vw;
      display: flex;
      justify-content: center;

      @include screen.mobile {
        margin-top: 5.2631578947vw;
      }

      .bigBanner {
        display: block;
        width: 27.8645833333vw;
        height: 15.6770833333vw;
        border-radius: 10px;
        background: url(../../_images/pc/news/banners/big-banner1.png) no-repeat center top / cover;

        @include screen.mobile {
          width: 62.5vw;
          height: 35vw;
          padding: 0 1.3157894737vw;
        }
      }
    }
  }
}
