@use '../../_styles/screen';

.wrapper {
  position: relative;
  margin-top: -5.8333333333vw;

  @include screen.mobile {
    margin-top: -13.1578947368vw;
  }

  .carousel {
    width: 100%;
    overflow: hidden;

    position: absolute;
    top: 9.21875vw;
    z-index: 2;

    --currentIndex: 0;
    --itemWidth: calc(100vw / 4);

    @include screen.mobile {
      top: 30.3947368421vw;
      --itemWidth: calc(100vw / 1.3);
    }

    > ul {
      --halfOfScreen: calc(100vw / 2);
      --halfOfItem: calc(var(--itemWidth) / 2);
      --startX: calc(var(--halfOfScreen) - var(--halfOfItem));
      --offsetX: calc(var(--itemWidth) * var(--currentIndex));
      --positionX: calc(var(--startX) - var(--offsetX));

      transform: translate3d(var(--positionX), 0px, 0px);
      transition: transform 0.3s;
      display: flex;
    }

    > .movieBottom {
      display: flex;
      justify-content: center;
    }
  }
}
