/* 점점 커짐 */
@mixin upScale($selector) {
  transition: transform 250ms cubic-bezier(0.34, 1.3, 0.64, 1);
  transform: scale(1, 1);

  &#{$selector} {
    transform: scale(1.05);
    @content;
  }
}

/* 서서히 드러나며 작은상태에서 커졌다가 원래크기로 돌아옴 */
@mixin upScaleFadeOutBack($selector) {
  opacity: 0;
  transform: scale(0.5, 0.5);
  transition:
    opacity,
    transform 0.3s cubic-bezier(0.5, 1.5, 0.8, 1.1);

  &#{$selector} {
    opacity: 1;
    transform: scale(1, 1);
    @content;
  }
}

/* 서서히 드러나며 아래에서 올라옴 */
@mixin upFade($selector) {
  transition:
    opacity 0.2s linear,
    transform 0.2s linear;

  opacity: 0;
  transform: translate(0px, 15px);

  &#{$selector} {
    opacity: 1;
    transform: translate(0px, 0px);
    @content;
  }
}

/* 서서히 드러나며 점점 작아짐 */
@mixin downScaleFade($selector) {
  transition:
    opacity 0.2s linear,
    transform 0.2s linear;

  opacity: 0;
  transform: scale(1.3, 1.3);

  &#{$selector} {
    opacity: 1;
    transform: scale(1, 1);
    @content;
  }
}

/* 서서히 드러나며 왼쪽에서 오른쪽으로 이동 */
@mixin fadeLeftToRight($selector) {
  transition:
    opacity 0.3s linear,
    transform 0.3s ease;

  opacity: 0;
  transform: translate(-35px, 0px);

  &#{$selector} {
    opacity: 1;
    transform: translate(0px, 0px);
    @content;
  }
}

/* 왼쪽에서 오른쪽으로 이동 */
@mixin bandLeftToRight($selector) {
  transition: transform 0.3s ease;
  transform: translateX(-100%);

  &#{$selector} {
    transform: translateX(0px);
    @content;
  }
}

/* 오른쪽에서 왼쪽으로 이동 */
@mixin bandRightToLeft($selector) {
  transition: transform 0.3s ease;
  transform: translateX(100%);

  &#{$selector} {
    transform: translateX(0px);
    @content;
  }
}

/* 커진상태에서 시작하여 작아졌다 원래 크기로 돌아옴 */
@mixin ink($selector) {
  transition:
    opacity 0.3s cubic-bezier(0.15, 1.06, 0.8, 1.2),
    transform 0.3s cubic-bezier(0.15, 1.06, 0.8, 1.2);

  opacity: 0;
  transform: scale(1.15, 1.15);

  &#{$selector} {
    opacity: 1;
    transform: translate(0px, 0px);
    @content;
  }
}
